spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ogrenci_db
    username: demo_user
    password: demo_pass
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: always

# Server port (optional)
server:
  port: 8080

# Logging
logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

